@charset "UTF-8";
:root {
  --text-color: #FFF;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html, body {
  scroll-behavior: smooth;
  transition: 0.5s;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

#background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(0.438rem);
  z-index: -1;
}

.player-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background: linear-gradient(to right, rgba(211, 211, 211, 0.8), rgba(255, 255, 255, 0.8));
  min-width: 21.25rem;
  height: 46.875rem;
  width: 25.625rem;
  position: absolute;
  margin: 2.5rem auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem #000000;
}

.covers {
  width: 100%;
  height: 27.68rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.875rem;
  min-height: 21.25rem;
}

.cover {
  background-image: url("../img/img1-340.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-blend-mode: multiply;
  box-shadow: 0 0 0.625rem #000000;
}

.like {
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
}

.like-heart {
  fill: currentColor;
  transition: all 0.3s ease;
}

.like:hover .like-heart {
  color: rgb(227, 7, 7);
}

/* пульсация сердечка */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    filter: brightness(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
    opacity: 1;
  }
}
.like-heart {
  fill: currentColor;
  animation: pulse 1.1s infinite;
}

.like:hover .like-heart {
  color: rgb(227, 7, 7);
  animation: none;
}

.song-name {
  display: flex;
  position: relative;
}

.song-title {
  letter-spacing: 0.078rem;
  font-size: 1.25rem;
  color: black;
}

.management {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  padding-top: 1rem;
}

.sound-on {
  width: 1.9rem;
  height: 1.9rem;
  cursor: pointer;
}

#volume {
  appearance: none;
  height: 0.625rem;
  background: #9e8d8d;
  border-radius: 0.313rem;
  outline: none;
  transition: background 0.3s;
}

#volume::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: #0d0d0d;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

#volume:hover {
  background: #7a7474;
}

#volume:active::-webkit-slider-thumb {
  background: #dae0e0;
}

.buttons {
  display: flex;
  gap: 3rem;
  padding-top: 3rem;
}

.btn {
  width: 4.125rem;
  fill: currentColor;
  transition: all 0.3s ease;
  cursor: pointer;
}

.player-btn {
  width: 100%;
  transition: all 0.3s ease;
}

.btn:hover .player-btn {
  filter: invert(48%) sepia(9%) saturate(300%) hue-rotate(0deg) brightness(92%) contrast(89%);
}

.music-bar {
  padding-top: 3rem;
}

#bar {
  appearance: none;
  width: 18.75rem;
  height: 0.625rem;
  background: #9e8d8d;
  border-radius: 0.313rem;
  outline: none;
  transition: background 0.3s;
}

#bar::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: #0d0d0d;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

#bar:hover {
  background: #7a7474;
}

#bar:active::-webkit-slider-thumb {
  background: #dae0e0;
}

.time {
  padding-top: 0.625rem;
  font-size: 1rem;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text-color);
  padding: 1.25rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.footer-logo img, .rs-logo img {
  height: 2.5rem;
  width: auto;
}

.copy {
  font-size: 1rem;
  letter-spacing: 0.09rem;
}

.gh-image, .rs-image {
  filter: invert(1);
}/*# sourceMappingURL=main.css.map */